@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

$black: #000;
$black-lighter: #212121;
$gray-lighter: #d3d3d3;
$gray-light: #8c8c8c;
$gray: #666;
$gray76: #767676;
$gray-dark: #4a4a4a;
$yellow: #ffd930;
$red: #e91802;

$roboto: 'Roboto', sans-serif;
$sans-pro: 'Source Sans Pro', sans-serif;
